[Desktop Entry]
Categories={{categories}}
Comment={{comment}}
Exec={{exec}}
StartupWMClass={{name}}
Icon={{icon}}
Name={{name}}
Terminal=false
Type=Application
X-GNOME-UsesNotifications=true
